<!DOCTYPE html>
<html lang="en">
<head>
  <title>Multer File Uploading in nodejs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
      .title {
        margin: 35px;
        background: #bf9d9d;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="jumbotron">
<div class="container">
  <h2 class="text-center title">Upload File, Execute Some Python file and Download Output file using Node.js</h2>
  <div style="margin-left: 35%;margin-top: 80px;">
    <% if(uploadStatus == true){ %>
    <label for="message" class="alert alert-success">Uploaded successfully</label>
    <% } %>
    <div class="row">
      <div>
            <form action="/singleFile" enctype="multipart/form-data" method="POST">
                <h4 >Upload input file:</h4>
                <input type="file"  id="singleImage" name="singleImage" required>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
      </div>

     
  </div>

 
<a href="/download" class="btn btn-success" style="margin-top: 40px;margin-left: 10%;">Download the Output</a>

  <br/> <br/>
</div>
  
</div>
</div>
</body>
</html>